<!-- In this lesson I discovered that id attributes will take precedent over class styles even if it is placed above the class style in css. Confirming the idea of specificity --> 
<!-- Changed doctype to match freeCodeCamp --> 

<style>
  body {
    background-color: black;
    font-family: monospace;
    color: green;
  }
  #orange-text {
    color: orange;
  }
  .pink-text {
    color: pink;
  }
  .blue-text {
    color: blue;
  }
</style>
<h1 class="pink-text blue-text" id="orange-text">Hello World!</h1>